*{
	padding: 0;
	margin: 0;
	list-style: none;
}
body{
	background: #a2a2a2;
	font-size:14px;
	
}
.box{
	width: 100px;
	height: 100px;
	background: red;
}
.expl{
	position: absolute;
	width: 600px;
	top: 150px;
	left: 30px;
	background: #efe;
	text-indent: 24px;
}
